---
const title = "Welcome to my Crochet Corner";
---

<html lang="en">
  <head>
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>
    <p>My first Astro website!</p>
  </body>
</html>